.mainWorkCard {
    background-color: #1d1d1d;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    transform: translateY(10px);
}

.mainWorkCard:hover {
    transform: translateY(0);
    opacity: 1 !important;
}

.mw_1200 {
    max-width: 1200px !important;
}

.flex-wrap {
    animation: fadeIn 0.5s ease-in-out;
}

.minW365px{
    min-width: 220px;
}
@media(max-width: 572px){
}
@media(max-width: 387px){
.minW365px{
    min-width: 250px;
}
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (max-width: 768px) {
    .mainWorkCard {
        padding: 1.5rem !important;
    }
}