@import "tailwindcss";


body {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
/* background-color: rgb(17, 17, 17); */
background-color: #1d1d1d;
    height: calc(var(--vh, 1vh) * 100);
    background-position: center center;
    overflow: hidden;

}
.main-container{
    margin: 70px 0px;
}