.home-area .home-name {
    color: #fff;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 34px;
}
.home-area .home-headline .single-headline {
    display: inline-block;
    position: relative;
    text-align: left;
    vertical-align: top;
}